/* Toast Notifications Styles */

@-webkit-keyframes timer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes timer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.notifications-container {
  position: fixed;
  z-index: 3000;
  bottom: 25px;
}
html[dir='ltr'] .notifications-container {
  right: 80px;
}
html[dir='rtl'] .notifications-container {
  left: 80px;
}
@media (max-width: 576px) {
  .notifications-container {
    width: calc(100% - 30px);
    max-width: 250px;
  }
}
.notifications-container .notification {
  position: relative;
  line-height: 1.5;
  color: #fff;
}
html[dir='ltr'] .notifications-container .notification {
  padding: 10px 28px 10px 14px;
}
html[dir='rtl'] .notifications-container .notification {
  padding: 10px 14px 10px 28px;
}
@media (min-width: 577px) {
  .notifications-container .notification {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .notifications-container .notification {
    width: 100%;
  }
}
.notifications-container .notification.timer .disappearing-time {
  display: block;
  position: absolute;
  bottom: -3px;
  height: 3px;
  background-color: inherit;
  opacity: 0.6;
  -webkit-animation-name: timer;
  animation-name: timer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
html[dir='ltr']
  .notifications-container
  .notification.timer
  .disappearing-time {
  left: 0;
}
html[dir='rtl']
  .notifications-container
  .notification.timer
  .disappearing-time {
  right: 0;
}
.notifications-container .notification.success {
  background-color: var(--success-color);
}
.notifications-container .notification.danger {
  background-color: var(--danger-color);
}
.notifications-container .notification.warning {
  background-color: var(--warning-color);
}
.notifications-container .notification.info {
  background-color: var(--info-color);
}
.notifications-container .notification:not(:last-of-type) {
  margin-bottom: 10px;
}
.notifications-container .notification .fa {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html[dir='ltr'] .notifications-container .notification .fa {
  right: 12px;
}
html[dir='rtl'] .notifications-container .notification .fa {
  left: 12px;
}
.notifications-container .notification .fa:hover {
  opacity: 1;
}
.notifications-container .notify-enter-active {
  -webkit-animation: 0.3s ease-in-out;
  animation: 0.3s ease-in-out;
}
html[dir='ltr'] .notifications-container .notify-enter-active {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
html[dir='rtl'] .notifications-container .notify-enter-active {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.notifications-container .notify-leave-active {
  animation: 0.3s ease-in-out reverse;
}
html[dir='ltr'] .notifications-container .notify-leave-active {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
html[dir='rtl'] .notifications-container .notify-leave-active {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
.notifications-container .notify-move {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
