@charset "UTF-8";

@import 'globals';
@import 'colors';
@import 'fonts';

@import 'pages';
@import 'components';
@import 'elements';
@import 'animations';

@import 'markdown.css';
@import 'nprogress';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
