<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Nafie develops the best quality website that serves for the long-term. Well-documented, clean, easy and elegant interface helps any non-technical clients."
    />
    <meta
      name="keywords"
      content="portfolio, agency, business, clean, company, corporate, creative, gallery, rtl, modern, photography, vue, vuejs, responsive, sass"
    />

    <!-- title of the browser tab -->
    <title>Nafie - HTML Portfolio Template</title>

    <!-- favicon -->
    <link rel="icon" href="assets/favicon.ico" />

    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Saira+Stencil+One&text=Nafie&display=swap"
    />

    <!-- css libraries file -->
    <link rel="stylesheet" href="styles/libraries.min.css" />

    <!-- main style file -->
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div id="app">
      <div
        id="app-inner"
        ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true"
      >
        <div
          class="circle-cursor circle-cursor-outer"
          ref="circleCursorOuter"
        ></div>
        <div
          class="circle-cursor circle-cursor-inner"
          ref="circleCursorInner"
        ></div>

        <!-- start preloader-->
        <transition name="preloader">
          <div class="preloader" v-if="isPreloading">
            <div class="circle">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </div>
        </transition>
        <!-- end preloader-->

        <!-- start of header -->
        <header
          :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }"
        >
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Nafie">
              <h1><a href="index.html">Nafie</a></h1>
            </div>

            <!-- nav links -->
            <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">
              <!-- nav menu links -->
              <ul class="nav-links">
                <li v-for="link in navLinks" :key="link.url">
                  <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.en }}
                  </a>
                </li>
              </ul>

              <!-- menu content in big devices (hidden in mobile/tablet) -->
              <div class="desktop-menu-content" tabindex="-1">
                <div class="container">
                  <!-- about us -->
                  <div class="about-us">
                    <p>
                      I love making things simple, intuitive and expertly
                      crafted!
                    </p>
                    <h4 class="block-title">
                      Product is the vital essence of what i do, truly great
                      product is born of meticulous planning and process. This
                      is where i specialized!
                    </h4>
                  </div>

                  <!-- contact info -->
                  <ul class="contact-info row">
                    <li class="col-lg-4">
                      <h4 class="block-title">Email</h4>
                      <ul>
                        <li>
                          <a href="mailto:info@nafie.com">info@nafie.com</a>
                        </li>
                        <li>
                          <a href="mailto:support@nafie.com"
                            >support@nafie.com</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Address</h4>
                      <ul>
                        <li>
                          941 saqrqorish Road, alandalos,
                          <br />
                          grnata, wa 47122-4194
                        </li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Phone</h4>
                      <ul>
                        <li><a href="tel:02966202290">(02) 966 202 290</a></li>
                        <li><a href="tel:02966202291">(02) 966 202 291</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- options icons -->
            <ul class="options-icons">
              <!-- lang switcher button -->
              <li class="lang-switcher">
                <a href="rtl-index.html" title="عرض باللغة العربية">
                  <img src="assets/images/langs/ar.png" alt="العربية" />
                </a>
              </li>

              <!-- theme switcher button -->
              <li class="theme-switcher">
                <button
                  :class="savedTheme"
                  title="Change Mode"
                  @click="changeAppTheme"
                ></button>
              </li>

              <!-- hamburger button -->
              <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                <button
                  @click="toggleNavMenu"
                  title="Toggle Side Menu"
                  aria-label="Toggle Side Menu"
                  ref="navMenuToggleBtn"
                >
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </li>
            </ul>
          </div>
        </header>
        <!-- end of header -->

        <!-- start of archive page -->
        <div class="archive-page portfolio-section section page">
          <div class="container">
            <div class="section-title">
              <span class="subtitle">{{ portfolioArchiveName }}</span>
              <h2 class="title">
                The latest projects in
                <br />
                {{ portfolioArchiveName }} taxonomy
              </h2>
            </div>

            <div class="section-content">
              <!-- portfolio items -->
              <ul
                class="portfolio-items"
                ref="portfolioItems"
                data-no-works-msg="No works to load"
              >
                <li
                  class="portfolio-item"
                  v-for="work in filteredPortfolioItems"
                  :key="work.title.en"
                >
                  <a :href="work.url" target="_blank" rel="noopener">
                    <div class="item-img">
                      <img :src="work.imgUrl" :alt="work.title.en" />
                    </div>
                    <div class="item-details">
                      <h3 class="title">{{ work.title.en }}</h3>
                      <div class="date">{{ work.date.en }}</div>
                    </div>
                  </a>
                </li>
                <li>
                  <button class="more" @click="getPortfolioItems">
                    Load more works
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of archive page -->

        <!-- start of footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Nafie">
                  <h1><a href="index.html">Nafie</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }} Proudly Powered by
                <a
                  href="https://themeforest.net/user/webrouk/portfolio"
                  target="_blank"
                  rel="noopener"
                  >Webrouk</a
                >
              </div>
            </div>
          </div>
        </footer>
        <!-- end of footer -->

        <!-- scroll to top button -->
        <button
          ref="scrollTopBtn"
          :class="['scroll-to-top', isScrollTopBtnDisplayed && 'show-scrollTop']"
          title="Back To Top"
          tabindex="0"
          @click="scrollToTop"
        >
          <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>

        <!-- toast notifications -->
        <ul class="notifications-container">
          <transition-group name="notify">
            <li
              v-for="notify of notifications"
              :key="notify.id"
              :id="notify.id"
              :class="['notification', 'show', notify.className, notify.time && 'timer']"
            >
              {{ notify.msg }}
              <i
                class="fa fa-times link-hover"
                aria-hidden="true"
                @click="dismissNotify(notify.id)"
              ></i>
              <span
                v-if="notify.time"
                class="disappearing-time"
                :style="{ 'animation-duration': notify.time + 'ms' }"
              ></span>
            </li>
          </transition-group>
        </ul>

        <!-- ajax loading -->
        <div v-show="isAjaxLoading" class="ajax-loading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- js plugins file -->
    <script src="scripts/plugins.min.js"></script>

    <!-- main script file -->
    <script src="scripts/main.js"></script>
  </body>
</html>
